body {
    background-color: silver;
}

.container {
    display: flex;
    flex-wrap: wrap;
}

.element {
    width: 100px;
    height: 100px;
}

.fizz {
    background-color: firebrick;
}

.buzz {
    background-color: burlywood;
}

.fizzbuzz {
    background-color: indianred;
}

.number {
    background-color: navajowhite;
}

.tracks-container {
    display: flex;
    justify-content: center;
}

.track-cell {
    display: inline-block;
    height: 20px;
    background-color: palegoldenrod;
    margin: 5px;
}

.col-fields {
    background-color: plum;
    margin: 5px;
}
